[submodule "customer-service"]
	path = customer-service
	url = https://github.com/fredydlemus/whale-customer-service.git
[submodule "whale-infrastructure"]
	path = whale-infrastructure
	url = https://github.com/fredydlemus/whale-infrastructure.git
